/*MEDIA QUERIES*/
@mixin medium {
  @media (min-width: #{$screen-md}) {
    @content;
  }
}
@mixin large {
  @media (min-width: #{$screen-lg}) {
    @content;
  }
}
@mixin xlarge {
  @media (min-width: #{$screen-xl}) {
    @content;
  }
}
/*FLEX*/
@mixin flex($display, $wrap, $justify, $align, $direction) {
  display: $display;
  flex-wrap: $wrap;
  justify-content: $justify;
  align-items: $align;
  flex-direction: $direction;
}
