/*fonts*/
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");

/*Color*/
$blue:  #4267B2;
$green: #007042;
$lightGreen: #afdfc2;
$yellow: #e4a11e;
$read: #e03737;
$black: #2e3438;
$white: #ffffff;
$grey: #57646e;
$lightGrey_1: #a0a9af;
$lightGrey_2: #d3d7da;
$lightGrey_3: #e0e1e2;
$lightGrey_4: #f5f5f5;

/*Breakpoints*/
$screen-sm: 320px;
$screen-md: 321px;
$screen-lg: 768px;
$screen-xl: 1200px;
